.p-button:hover,
.p-category-item:hover,
.p-entry-works__pager .p-pager__item a:hover,
.c-comment__form-submit:hover,
c-comment__password-protected,
.c-pw__btn--register,
.c-pw__btn {
  background-color: #000000;
}
.c-comment__tab-item.is-active a,
.c-comment__tab-item a:hover,
.c-comment__tab-item.is-active p {
  background-color: #000000;
  border-color: #000000;
}
.c-comment__tab-item.is-active a:after,
.c-comment__tab-item.is-active p:after {
  border-top-color: #000000;
}
.p-breadcrumb__item a:hover,
.p-social-nav a:hover,
.p-gallery-modal__button:hover,
.p-modal-cta__close:hover,
.p-index-archive__item-category:hover,
.p-widget-categories .toggle-children:hover,
.p-widget .searchform #searchsubmit:hover,
.p-widget-search .p-widget-search__submit:hover,
.slick-arrow:hover {
  color: #9ab28d;
}
.p-button,
.p-pagetop a,
.p-category-item,
.p-page-links > span,
.p-pager__item .current,
.p-page-links a:hover,
.p-pager__item a:hover,
.p-works-gallery__filter-item.is-active span,
.slick-dots li.slick-active button,
.slick-dots li:hover button {
  background-color: #9ab28d;
}
.p-headline,
.p-widget__title {
  border-color: #9ab28d;
}
a:hover,
.p-entry__body a:hover,
.p-author__box a:hover,
a:hover .p-article__title,
.p-entry-nav a:hover,
.p-works-gallery__filter-item:hover span,
.p-entry__body .pb_simple_table a:hover {
  color: #999999;
}
.p-pagetop a:hover {
  background-color: #999999;
}
.p-entry__body a {
  color: #457c17;
}
body,
input,
textarea {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.p-logo,
.p-page-header__title,
.p-entry-works__title,
.p-modal-cta__catch,
.p-header-content__catch,
.p-header-content__desc,
.p-cb__item-headline,
.p-index-about__image-label {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 500;
}
.c-load--type1 {
  border: 3px solid rgba(153, 153, 153, 0.2);
  border-top-color: #000000;
}
.p-hover-effect--type1:hover img {
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}
.p-hover-effect--type2 img {
  margin-left: -8px;
}
.p-hover-effect--type2:hover img {
  margin-left: 8px;
}
.p-hover-effect--type2:hover .p-hover-effect__image {
  background: #000000;
}
.p-hover-effect--type2:hover img {
  opacity: 0.5;
}
.p-hover-effect--type3:hover .p-hover-effect__image {
  background: #000000;
}
.p-hover-effect--type3:hover img {
  opacity: 0.5;
}
.p-entry__title {
  font-size: 30px;
}
.p-entry__title,
.p-article-post__title {
  color: #000000;
}
.p-entry__body {
  font-size: 16px;
}
.p-entry__body,
.p-entry__body .pb_simple_table a {
  color: #000000;
}
.p-entry-information__title {
  font-size: 30px;
}
.p-entry-information__title,
.p-article-information__title {
  color: #000000;
}
.p-entry-information__body,
.p-entry-information__body .pb_simple_table a {
  color: #000000;
  font-size: 16px;
}
.p-entry-works__title {
  color: #000000;
  font-size: 40px;
}
.p-entry-works__body {
  color: #000000;
  font-size: 14px;
}
.p-gallery-modal__overlay {
  background: rgba(0, 0, 0, 0.5);
}
.p-article-voice__title {
  color: #000000;
  font-size: 16px;
}
.p-entry-voice__body {
  color: #000000;
  font-size: 14px;
}
.l-header__bar {
  background: rgba(255, 255, 255, 1);
}
body.l-header__fix .is-header-fixed .l-header__bar {
  background: rgba(255, 255, 255, 0.8);
}
.p-header__logo--text {
  font-size: 30px;
}
.p-footer__logo--text {
  font-size: 30px;
}
.l-header a,
.p-global-nav a {
  color: #000000;
}
.p-global-nav .sub-menu {
  background-color: #303030;
}
.p-global-nav .sub-menu a {
  color: #ffffff;
}
.p-global-nav .sub-menu a:hover,
.p-global-nav .sub-menu .current-menu-item > a {
  background-color: #9ab28d;
  color: #ffffff;
}
.p-footer-info,
.p-footer__logo--text a {
  color: #ffffff;
}
.p-footer-info.has-bg-image::after {
  background-color: rgba(10, 10, 10, 0.5);
}
.p-footer-info__desc {
  font-size: 16px;
}
.p-footer-info .p-social-nav a {
  color: #000000;
}
.p-footer-info .p-social-nav a:hover {
  color: #ee3c00;
}
.p-footer-nav__container {
  background-color: #ffffff;
}
.p-footer-nav,
.p-footer-nav li a {
  color: #000000;
}
.p-footer-nav li a:hover {
  color: #666666;
}
.p-copyright {
  background-color: #000000;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .p-global-nav a:hover,
  .p-global-nav > li:hover > a,
  .p-global-nav > li.current-menu-item > a,
  .p-global-nav > li.is-active > a {
    color: #9ab28d;
  }
}
@media only screen and (max-width: 1199px) {
  .l-header__bar {
    background-color: rgba(255, 255, 255, 1);
  }
  .p-header__logo--text {
    font-size: 20px;
  }
  .p-global-nav {
    background-color: rgba(48, 48, 48, 1);
  }
  .p-global-nav a {
    color: #ffffff;
  }
  .p-global-nav a:hover,
  .p-global-nav .current-menu-item > a {
    background-color: rgba(154, 178, 141, 1);
    color: #ffffff;
  }
}
@media only screen and (max-width: 991px) {
  .p-footer__logo--text {
    font-size: 24px;
  }
  .p-footer-info__desc {
    font-size: 14px;
  }
  .p-entry__title {
    font-size: 18px;
  }
  .p-entry__body {
    font-size: 14px;
  }
  .p-entry-information__title {
    font-size: 18px;
  }
  .p-entry-information__body {
    font-size: 14px;
  }
  .p-entry-works__title {
    font-size: 34px;
  }
  .p-entry-works__body {
    font-size: 14px;
  }
  .p-article-voice__title {
    font-size: 16px;
  }
  .p-entry-voice__body {
    font-size: 14px;
  }
}
@media screen and (min-width: 650px) {
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}
.sp {
  display: none !important;
}
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}

.wp_social_bookmarking_light {
  border: 0 !important;
  padding: 10px 0 20px 0 !important;
  margin: 0 !important;
}
.wp_social_bookmarking_light div {
  float: left !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 5px 0px 0 !important;
  min-height: 30px !important;
  line-height: 18px !important;
  text-indent: 0 !important;
}
.wp_social_bookmarking_light img {
  border: 0 !important;
  padding: 0;
  margin: 0;
  vertical-align: top !important;
}
.wp_social_bookmarking_light_clear {
  clear: both !important;
}
#fb-root {
  display: none;
}
.wsbl_facebook_like iframe {
  max-width: none !important;
}
.wsbl_pinterest a {
  border: 0px !important;
}
